[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
proxybroker = "*"
"beautifulsoup4" = "*"
feedparser = "*"
lxml = "*"
"html5lib" = "*"
flask = "*"
fake-useragent = "*"
requests = ">=2.20.0"
ftfy = "*"

[dev-packages]
"flake8" = "*"
"pep8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
